<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mqProducer" class="org.apache.rocketmq.client.producer.DefaultMQProducer" init-method="start">
        <property name="namesrvAddr" value="${mq.nameserver}"/>
        <property name="producerGroup" value="${mq.produerGroup}" />
        <property name="sendMsgTimeout" value="1000"/>
    </bean>

</beans>
